.chartCareer {
  
    margin:10% ;
      /* padding: 20px; */
      -webkit-box-shadow: 5px 5px 15px 5px #000000;
      box-shadow: 5px 5px 15px 5px #000000;
    }

      @media screen and (max-width: 480px) {
       .chartCareer{
        margin:1% ;
        margin-top:95% ;
      }
     }